{% extends 'base.html' %}
{% block body_block %}
<section class="hero is-small is-info " id="main-hero">
    <div class="hero-body">
        <div id="hero-elt">
            <h1 class="title is-3" style="font-weight: 300;">
                Details
            </h1>
        </div>
    </div>
</section>
<section>
<div class='container is-fluid'>
    <div class="columns is-mobile is-centered py-5">
        <div class="column is-full-mobile is-two-thirds-tablet is-half-desktop">
            <div class="content">
                <p class="title is-5">{{recommendation.first_name}} {{recommendation.last_name}}</p>
                <p class="title is-5">{{recommendation.job}}</p>
                <p class="subtitle is-5">{{recommendation.relationship}}</p>
                <p class="subtitle is-6">Recommendation created on {{recommendation.create_date}}</p>
                <p>{{recommendation.comment}}</p>
            </div>
            <div class = "buttons">
                <a class="button is-primary" href = "{% url 'reco:reco_publish' pk=recommendation.pk %}">Approve</a>
                <a class= "button is-info" href="{% url 'reco:reco_update' pk=recommendation.pk %}">Update</a>
                <a class="button is-danger" href = "{% url 'reco:reco_delete' pk=recommendation.pk %}">Delete</a>
            </div>    
        </div>
    </div>
</div>
</section>

{% endblock %}

