{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<section class="section">
    <div class="container">
        <!-- Start Carousel -->
        <div id="carousel-demo" class="carousel">
            {% for reco in recommendation_list  %}
                <div class="item" style = "padding-bottom: 30px">
                    <p class ="has-text-centered">{{reco.comment}}</p>
                    <p class ="has-text-centered">{{reco}}</p>
                    <p class ="has-text-centered">{{reco.job}}</p>
                    <p class ="has-text-centered">{{reco.relationship}}</p>
                </div>
            {% endfor %}
        <!-- End Carousel -->
    </div>
</section>

<section class="section has-text-centered">
    <span id="button">
        <a href = "{% url 'reco:reco_create' %}" class="button has-text-white-bis" style="background-color: #0077b6">
            Leave a recommendation ! 
        </a>
    </span>
</section>    


<script>
    bulmaCarousel.attach('#carousel-demo', {
        slidesToScroll: 1,
        slidesToShow: 1
    });
</script>        
{% endblock body_block %} 
