{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<section class="section">
    <div class="container">
        <!-- Start Carousel -->
        <div id="carousel-demo" class="carousel">
            <div class="item-1">
                <h1 class ="title has-text-centered">HELLO WORLD</h1>
            </div>
            <div class="item-2">
                <img class ="title has-text-centered">CECI EST UN TEST...</h1>
            </div>
            <div class="item-3">
                <h1 class ="title has-text-centered">...</h1>
            </div>
            <div class="item-4">
                <h1 class ="title has-text-centered">THE PROPHECY IS TRUE</h1>
            </div>
        </div>
        <!-- End Carousel -->
    </div>
</section>

<script>
    bulmaCarousel.attach('#carousel-demo', {
        slidesToScroll: 1,
        slidesToShow: 1
    });
</script>        
{% endblock body_block %} 
