{% extends 'base.html' %}
{% block body_block %}

<section class="hero is-medium is-info " id="main-hero">
    <div class="hero-body">
        <div id="hero-elt">
            <h1 class="title is-1" style="font-weight: 300;">
                Copy that ! 
            </h1>
            <h2 class="subtitle is-3" style="font-weight: 300;">
                I will review your recommendation and eventually publish it on this website. 
            </h2>
        </div>               
    </div>
</section>

{% endblock body_block %}






