{% extends 'base.html' %}
{% block body_block %}

<section class="hero is-small is-info " id="main-hero">
    <div class="hero-body">
        <div id="hero-elt">
            <h1 class="title is-3" style="font-weight: 300;">
                Education
            </h1>
        </div>
    </div>
</section>

<section>
    <div class="columns is-desktop" style="margin:20px">
        <div class="column">
            <div class="box" style="padding-bottom:48px">
                <div class ="content">
                    <h2 class="title is-5">University</h2>
                    <h3 class="title is-6">Universidade de Lisboa – ESHTE</h3>
                    <p>Master’s degree in Tourism and communication</br>2012-2014</p>
                    <h3 class="title is-6">Université Paris X Nanterre</h3>
                    <p>Bachelor’s degree in Geography and spatial planning</br>
                    Erasmus – Instituto de Geografia e Ordenamento do Territorio - Lisboa</br>
                    2009-2012</p>
                </div>        
            </div>
        </div>
        <div class="column">
            <div class="box" style="padding-bottom:36px;">
                <div class ="content">
                    <h2 class="title is-5">Certifications</h2>
                    <h3 class="title is-6">OpenClassrooms</h3>
                    <ul>
                        <li><a href="https://openclassrooms.com/fr/courses/1946386-comprendre-le-web">
                        Comprendre le Web</a></li>
                        <li><a href="https://openclassrooms.com/fr/courses/1603881-apprenez-a-creer-votre-site-web-avec-html5-et-css3">
                        Apprenez à créer votre site web avec HTML5 et CSS3</a></li>
                        <li><a href="https://openclassrooms.com/fr/courses/4262331-demarrez-votre-projet-avec-python">
                        Démarrez votre projet avec Python</a></li>
                        <li><a href="https://openclassrooms.com/fr/courses/235344-apprenez-a-programmer-en-python">
                        Apprenez à programmer en Python</a></li>
                    </ul> 
                    <h3 class="title is-6">Udemy</h3>
                    <ul>
                        <li><a href="https://www.udemy.com/course/python-and-django-full-stack-web-developer-bootcamp/">
                        Python and Django Full Stack Web Developer Bootcamp</a></li>    
                    </ul>
                </div>
            </div>
        </div>
    </div>      
</section>    

{% endblock body_block %} 