{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<section class="hero is-small is-info " id="main-hero">
    <div class="hero-body">
        <div id="hero-elt">
            <h1 class="title is-3" style="font-weight: 300;">
                My projects
            </h1>
        </div>
    </div>
</section>

<section class="container">
    <div class="columns" style = "margin-top:10px; margin-bottom:20px;">
        <div class="column has-text-centered is-5 is-offset-1">
            <h1 class = "subtitle is-4">
                Ortholist
            </h1>
            <p> Django / HTML5 / CSS3 / BULMA / SQL </p>
            <a class="button mt-3" href = "https://github.com/Zeble1603/ortholist">
                <span class="icon">
                    <i class="fab fa-github"></i>
                </span>
                <span>GitHub</span>
            </a>
        </div>
        <div class="column has-text-centered is-5">
            <h1 class = "subtitle is-4">
                Beautiful Weather
            </h1>
            <p>Django / HTML5 / CSS3 / BULMA / SQL </p>
            <div class = "buttons is-centered">
                <a class="button mt-3" href = "https://github.com/Zeble1603/weatherdash">
                    <span class="icon">
                        <i class="fab fa-github"></i>
                    </span>
                    <span>GitHub</span>
                </a>
                <a class="button mt-3" href = "https://beautiful-weather.herokuapp.com/">
                    Go to Website
                </a>
            </div>    
        </div>
    </div>    
    <div class="columns is-centered" style = "margin-top:10px; margin-bottom:20px;">
        <div class="column has-text-centered is-5">
            <h1 class = "subtitle is-4">
                To do List
            </h1>
            <p>Django / HTML5 / CSS3 / BULMA / SQL</p>
            <a class="button mt-3" href = "https://github.com/Zeble1603/to_doapp">
                <span class="icon">
                    <i class="fab fa-github"></i>
                </span>
                <span>GitHub</span>
            </a>
        </div>
    </div>    
</section>

{% endblock body_block %} 