{% extends 'base.html' %}
{% block body_block %}
<section class="hero is-small is-info " id="main-hero">
    <div class="hero-body">
        <div id="hero-elt">
            <h1 class="title is-3" style="font-weight: 300;">
                Work experience
            </h1>
        </div>
    </div>
</section>
<section>
    <div class="columns is-desktop" style="margin:20px">
        <div class="column">
            <div class="box" style="padding-bottom:48px">
                <div class ="content">
                    <a class="title is-6" href="https://www.edreamsodigeo.com/">eDreams ODIGEO, Barcelona</a>
                    <h3 class="title is-6">Sales Lodging Specialist<br>June 2018 –</h3>
                    <ul>
                        <li>Source, contact and convince the hotels to use our
                        platform ODIGEO Connect in order to facilitate their
                        distribution and increase their online visibility</li>
                        <li>Offer a high-quality service, customer oriented:
                        Assist the hotels by explaining how to use our
                        extranet, facilitate the connectivity with their channel
                        manager</li>
                        <li>Achieve the monthly targets set by our managers</li>
                    </ul> 
                </div>        
            </div>
        </div>
        <div class="column">
            <div class="box">
                <div class ="content">
                    <a class="title is-6" href="https://www.voyageursdumonde.fr/voyage-sur-mesure">Voyageurs du Monde, Paris</a>
                    <h3 class="title is-6">Product Manager Portugal, Tailor Made Travel Designer<br>2014-2018</h3>
                    <ul>
                        <li>Build and sell high-end tailor-made travels. Top seller
                        in the Southern Europe Dpt with a sales revenue of
                        813 000 € in 2017 and a success rate of 42,97% in a
                        higly competitive environment.</li>
                        <li>“Luxury Attitude” referent worker : Provide the best
                        service and the best experiences to our customers.</li>
                        <li>Train 4 new travel agents on selling technics and
                        constructing itineraries.</li>
                        <li>Source and contract new hotels and providers,
                        maintaining an excellent relationship with them by
                        frequently visiting them in Portugal and Spain.</li>
                    </ul> 
                </div>
            </div>
        </div>
    </div>      
</section>                

{% endblock body_block %} 