<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'reco\css\bulma-carousel.min.css' %}">
    <script src="{% static 'reco\js\bulma-carousel.min.js' %}"></script>
    <script src="{% static 'reco\js\script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'index\main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Curriculum</title>
</head>
<body>
    <nav class="navbar is-info has-shadow" role="navigation" aria-label="main navigation" id="main_navbar">
        <div class = "container">    
            <div class="navbar-brand">      
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="my-navbar" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{% url 'index:home' %}">
                        Home
                    </a>
            
                    <a class="navbar-item" href="{% url 'index:work' %}">
                        Work experience
                    </a>

                    <a class="navbar-item" href="{% url 'index:education' %}">
                        Education
                    </a>

                    <a class="navbar-item" href="{% url 'reco:validreco_list' %}">
                        Recommendations
                    </a>
            
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="{% url 'index:portfolio' %}">
                            Portfolio
                        </a>
            
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            All projects
                        </a>
                        <a class="navbar-item">
                            Project 1
                        </a>
                        <a class="navbar-item">
                            Project 2 
                        </a> 
                    </div>
                </div>
            </div>
        </div>


    </nav>
    {% block body_block %}

    {% endblock body_block %}    
    <section>
        <footer class="footer">
            <div class="content has-text-centered">
                <div class="columns">
                    <div class="column">
                        <a class="footer-link my-links" href="#">Home</a>
                    </div>    
                    <div class="column">
                        <a class="footer-link" href={% url 'index:contact' %}>Contact me</a>                
                    </div>
                    <div class="column">
                        <a class="footer-link" href="https://www.linkedin.com/in/blaisedecarvalho/">Linkedin</a>
                    </div>    
                    <div class="column">
                        <a class="footer-link" href="https://github.com/Zeble1603">Github</a>                
                    </div>
                </div>
            </div>
        </footer>     
    </section>    
</body>
</html>